<h1>Stupid coaching</h1>
<br>
<p><%= params[:question] %></p>
<p class="quote">--You</p>
<br>
<p><%= @answer %></p>
<p class="quote">--Your coach</p>
<br>
<p class="link"><%= link_to "Ask another question", ask_path %></p>
